<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página no encontrada</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>
    <h1>❌ Error 404</h1>
    <p>La página que buscas no existe.</p>
    <div class="text-center mt-6">
        <a href="/inicio" class="bg-green-700 text-white px-6 py-2 rounded hover:bg-green-800 transition">
            Volver a inicio
        </a>
    </div>
</body>
</html>
